<div
    style="background-image: url('https://images.pexels.com/photos/162553/keys-workshop-mechanic-tools-162553.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container-fluid bg-gradient">
        <div class="container p-4">
            <div class="row">
                <div class="col-4 p-2">
                    <h3>Contáctanos</h3>
                    <p class="p-2">
                        Si requieres alguno de nuestros servicios de lavado de inyectores, laboratorio o
                        probador de computadoras, no dudes en mandarnos un correo a través de nuestro
                        formulario de contacto.
                    </p>
                    <p class="p-2">
                        En cuanto recibamos tu correo te contactaremos por medio de llamada telefónica para 
                        confirmar tus datos y dirección para realizar el servicio.
                    </p>
                    <div class="bg-danger p-2 rounded">
                    <p class="">
                        Recuerda que nuestros servicios están condicionados únicamente en el área Sur y Centro
                        de la Ciudad de México
                    </p>
                    </div>

                </div>
                <div class="col card-bg rounded p-2">
                    <form action="">
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="text" name="email" id="email" class="form-control"
                                placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre Completo:</label>
                            <input type="text" name="name" id="name" class="form-control"
                                placeholder="Ingresa tu nombre completo">
                        </div>
                        <div class="form-group">
                            <label for="phone">Número de Teléfono:</label>
                            <input type="text" name="phone" id="name" class="form-control"
                                placeholder="Ingresa tu número de celular">
                        </div>
                        <div class="form-group">
                            <label for="service">Elije el Servicio o Servicios:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="check1">
                                <label class="form-check-label" for="check1">Lavado de Inyectores</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="check2">
                                <label class="form-check-label" for="check2">Laboratorio de Inyectores</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="check3">
                                <label class="form-check-label" for="check3">Probador de Computadoras</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Notas Adicionales:</label>
                            <textarea class="form-control" name="description" id="description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Enviar Correo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>