<div
    style="background-image: url('https://images.pexels.com/photos/190574/pexels-photo-190574.jpeg?cs=srgb&dl=acero-blanco-y-negro-brillante-chrome-190574.jpg&fm=jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="bg-gradient">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-4 text-center" style="border-bottom: solid; border-size: 1px; border-color: white">
                    <p class="title ">E&amp;E Integral</p>
                    <p class="subtitle">Electricidad &amp; Electrónica Integral</p>
                </div>
            </div>
            <div class="row justify-content-center p-4">
                <div class="card-deck" id="filosofia-empresa">
                    <div class="card card-bg border-0">
                        <div class="card-body">
                            <h5 class="card-title">Misión</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam animi dolor maiores saepe
                                aliquid necessitatibus possimus accusamus porro cupiditate doloribus.</p>
                        </div>
                    </div>
                    <div class="card card-bg border-0">
                        <div class="card-body">
                            <h5 class="card-title">Visión</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam animi dolor maiores saepe
                                aliquid necessitatibus possimus accusamus porro cupiditate doloribus.</p>
                        </div>
                    </div>
                    <div class="card card-bg border-0">
                        <div class="card-body">
                            <h5 class="card-title">Valores</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam animi dolor maiores saepe
                                aliquid necessitatibus possimus accusamus porro cupiditate doloribus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-4 bg-dark">
    <h3>Nuestros Servicios</h3>
    <div class="row" style="color: black;">
        <div class="col">
            <div class="card border-0">
                <img src="https://media.istockphoto.com/photos/car-engine-in-front-of-white-background-picture-id140028450"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Lavado de Inyectores</h5>
                </div>
                <button class="btn btn-primary btn-block rounded-0">Ver Información</button>
            </div>
        </div>
        <div class="col">
            <div class="card border-0">
                <img src="https://media.istockphoto.com/photos/automotive-engine-perspective-view-without-shadow-3d-picture-id629782454"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Laboratorio de Inyectores</h5>
                </div>
                <button class="btn btn-primary btn-block rounded-0">Ver Información</button>
            </div>
        </div>
        <div class="col">
            <div class="card border-0">
                <img src="https://media.istockphoto.com/photos/auto-mechanic-working-in-garage-repair-service-picture-id879696186"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Probador de Computadoras</h5>
                </div>
                <button class="btn btn-primary btn-block rounded-0">Ver Información</button>
            </div>
        </div>
    </div>
</div>