<div
    style="background-image: url('https://images.pexels.com/photos/190574/pexels-photo-190574.jpeg?cs=srgb&dl=acero-blanco-y-negro-brillante-chrome-190574.jpg&fm=jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="bg-gradient">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-4 text-center" style="border-bottom: solid; border-size: 1px; border-color: white">
                    <p class="title ">E&amp;E Integral</p>
                    <p class="subtitle">Electricidad &amp; Electrónica Integral</p>
                </div>
            </div>
            <div class="row justify-content-center p-4">
                <div class="card-deck" id="filosofia-empresa">
                    <div class="card card-bg border-0">
                        <div class="card-body">
                            <h5 class="card-title">Misión</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam animi dolor maiores saepe
                                aliquid necessitatibus possimus accusamus porro cupiditate doloribus.</p>
                        </div>
                    </div>
                    <div class="card card-bg border-0">
                        <div class="card-body">
                            <h5 class="card-title">Visión</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam animi dolor maiores saepe
                                aliquid necessitatibus possimus accusamus porro cupiditate doloribus.</p>
                        </div>
                    </div>
                    <div class="card card-bg border-0">
                        <div class="card-body">
                            <h5 class="card-title">Valores</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam animi dolor maiores saepe
                                aliquid necessitatibus possimus accusamus porro cupiditate doloribus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-4 bg-dark">
    <h3>Nuestros Servicios</h3>
    <div class="card-deck" style="color: black;">
        <div class="card flip-card border-0">
            <div class="flip-card-inner">
                <div class="card-body flip-card-front p-0">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/392024/pexels-photo-392024.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                        style="width: 100%; height: 300px;">
                </div>
                <div class="card flip-card-back">
                    <div class="card-body">
                        <h5 class="card-title">Lavado de Inyectores</h5>
                        <p class="card-text">
                            Limpieza de inyectores con detergente especializado en cuba
                            de ultrasonido
                        </p>
                    </div>
                    <div class="card-footer">
                        <p>$60 MXN c/u</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card flip-card border-0">
            <div class="flip-card-inner">
                <div class="card-body flip-card-front p-0">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/392024/pexels-photo-392024.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                        style="width: 100%; height: 300px;">
                </div>
                <div class="card flip-card-back">
                    <div class="card-body">
                        <h5 class="card-title">Test de Funcionamiento de Inyectores</h5>
                        <p class="card-text">
                            Pruebas de arrollamiento, de ralenti, de fugas, de flujo a diferentes
                            revoluciones, de bloqueo, de pulverización y de balanceo
                        </p>
                    </div>
                    <div class="card-footer">
                        <p>$60 MXN c/u</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card flip-card border-0">
            <div class="flip-card-inner">
                <div class="card-body flip-card-front p-0">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/392024/pexels-photo-392024.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                        style="width: 100%; height: 300px;">
                </div>
                <div class="card flip-card-back">
                    <div class="card-body">
                        <h5 class="card-title">Escáner</h5>
                        <p class="card-text">
                            Escaneo OBD II, lectura de códigos de falla, borrado de códigos de falla 
                            Lectura analógica y digital de sensores, de motor, de emisiones y de transmisión
                            automática
                        </p>
                    </div>
                    <div class="card-footer">
                        <p>$60 MXN c/u</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card flip-card border-0">
            <div class="flip-card-inner">
                <div class="card-body flip-card-front p-0">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/392024/pexels-photo-392024.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                        style="width: 100%; height: 300px;">
                </div>
                <div class="card flip-card-back">
                    <div class="card-body">
                        <h5 class="card-title">Probador de ECM</h5>
                        <p class="card-text">
                            Pin Data, identificación de cables y oscilograma
                        </p>
                    </div>
                    <div class="card-footer">
                        <p>$60 MXN c/u</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>