body {
    color: white;
}

.bg-gradient-footer {
    background: #0B214E;
}

.bg-gradient {
    background: #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(66, 134, 244, 0.7), rgba(55, 59, 68, 0.7));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(66, 134, 244, 0.7), rgba(55, 59, 68, 0.7));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-bg {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

.title {
    font-size: 4rem;
}

.title-2 {
    font-size: 3rem;
}

.subtitle {
    font-size: 1rem;
    letter-spacing: 0.2rem;
}