<div class="container-fluid bg-gradient-footer p-4">
    <div class="row">
        <div class="col-4">
            <h5 class="card-title"><i class="fas fa-shipping-fast"></i> Dirección</h5>
                <p class="mb-1">Prol. Nogal #12, col. Potrerillo</p>
                <p class="mb-1">CP 10620, Alcaldía La Magdalena Contreras</p>
                <p class="mb-1">Ciudad de México, México</p>
        </div>
        <div class="col-4">
            <h5 class="card-title"><i class="fas fa-envelope"></i> Contacto</h5>
            <p class="mb-1">Teléfono: 55 5667 1628</p>
            <p class="mb-1">D. Daniel Cruz Hernández</p>
            <p class="mb-1">E-mail: <a href="mailto:d_cruzhdez@hotmail.com" style="color: white;">d_cruzhdez@hotmail.com</a></p>
        </div>
        <div class="col-4">
            <h5 class="card-title"><i class="fas fa-share-alt"></i> Redes Sociales</h5>
            <p class="mb-1"><i class="fab fa-facebook" style="font-size: 1.7em;"></i><a href="" style="color: white;"> /E&amp;E Integral</a></p>
            <p class="mb-1"><i class="fab fa-whatsapp" style="font-size: 1.7em;"></i> 55 1381 8517</p>
        </div>
    </div>
</div>